.dice-container {
  display: flex;
  margin: 10px;
}

.die-face {
  margin: 10px;
}

.dice-img {
  display: block;
  width: 55px;
  border-radius: 10px;
}

.die-school-container,
.school-score-container {
  margin: 20px 0 0 0;
}

.score-container {
  display: flex;
  flex-direction: row;
}

.scores,
.school-scores {
  display: flex;
  flex-direction: row;
}

.pick-button {
  height: 20px;
  align-self: center;
}

/* .world-scores */